.row.portal{
	max-width:100%;
}

.label.title{
	font-size:1.7rem;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	padding:15px 30px;
}

.label.success {
    background-color: #00FF0D;
    color:#000000;
}

.label.warning{
	background-color: #FFD516;
	color:#000000;
}

.pro{
	display:block;
	margin:0 auto;
	border-radius:5px;
}

.quote{
	margin-top:20px;
}

.quote h3{
	color:#F1F1F1;
	padding-top:15px;
	padding-bottom:25px;
}

.content{
	margin-top:50px;
	margin-bottom:20px;
	border-radius:10px;
	background-color:#ffffff;
}

.content h1{
	color:#006FFF;
	text-align:center;
}

.content h4{
	color:#000000;
}

.content h4.profile{
	font-size:19px;
}

.content p{
	color:#434343;
	font-size:18px;
}

.langdiv{
	margin-top:20px;
	margin-bottom:20px;
}

.langdiv h3{
	color:#000000;
	text-align:center;
}

.cover{
   max-width:100%;
   height:auto;
   background-image:url("coding.jpg");
   background-repeat:no-repeat;
   background-size:100% 600px;
   height:600px;
}

.sm{
	width:65px;
	height:65px;
	margin-right:10px;
}

.lang{
	width:100px;
	height:100px;
	display:block;
	margin:0 auto;
}

.top-bar{
	background-color:#006FFF;
	padding-top:0.5rem;
	padding-bottom:3.5rem;
	transition: height 1s;
	transition-timing-function:ease
}

.top-bar-section li:not(.has-form) a:not(.button) { 
	background-color: #006FFF;
	font-size:0.9125rem;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #00E2FF;
	color:#000000;
	border-radius:3px;
	background-image:none;
}

.top-bar-section ul li {
    background:none; 
	margin-right:10px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background-color: #00E2FF;
	color:#000000;
	border-radius:3px;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background-color: #00E2FF;
	color:#000000;
	border-radius:3px;
}

.top-bar.expanded{
	height:269px;
}

.top-bar.expanded .title-area {
    background-color: #006FFF; 
}

.top-bar.expanded .toggle-topbar a {
    color: #ffffff; 
}

.top-bar .title-area {
  position: relative;
  z-index: 1;  
}
.top-bar-section > ul {
  z-index: 0;
}